:root { --top_corner1: 2%; 
    --top_corner2: 2%; 
    --top_corner3: -2%; 
    --top_corner4: -2%; 
    --right_corner1: 0.5%; 
    --left_corner2: 0.5%; 
    --left_corner3: 0.5%; 
    --right_corner4: 0.5%; 
    --border_size: 2px; 
    --outline_size: 2px; 
    --outline-offset: -4px; 
    --border-bottom-left-radius: 0px;
     --border-top-left-radius: 0px; 
     --border-bottom-right-radius: 0px; 
     --border-top-right-radius: 0px; 
     --height: 1280px; 
     --width: 1280px; 
     --display-top-left: none; 
     --display-top-right: none; 
     --display-bottom-right: none; 
     --display-bottom-left: none;


      --gallery_top_corner1: 2%;
      --gallery_top_corner2: 2%; 
      --gallery_top_corner3: -2%;
      --gallery_top_corner4: -2%; 
      --right_corner_gallery1: 0.5%;
      --left_corner_gallery2: 0.5%;
      --left_corner_gallery3: 0.5%; 
      --right_corner_gallery4: 0.5%; 
      --gallery_border_size: 3px; 
      --gallery_outline_size: 0px;
      --gallery_outline-offset: -5px; 
      --gallery_border-bottom-left-radius: 20px;
      --gallery_border-top-left-radius: 0px; 
      --gallery_border-bottom-right-radius: 0px; 
      --gallery_border-top-right-radius: 20px; 
      --gallery_height: 281px; 
      --gallery_width: 280px; 
      --gallery_display-top-left: none; 
      --gallery_display-top-right: none; 
      --gallery_display-bottom-right: none; 
      --gallery_display-bottom-left: none;
}
.canvas-container-global{
    display: inline-block;
    height: 0px;
}
.canvas-container>  h1{
        
    position: absolute;
    color: antiquewhite;
    font-family: 'Bitter', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    top: 0%;
    left: 36%;
    z-index: 5;
 
}
.canvas-container{
    margin: auto;
    width: 1280px;
    position: relative;
    transform: scale(0.5) translateY(-80%);

}
.canvas-container .canvas2{

    
    background-image: url("../img.png");
    background-repeat: no-repeat;
    
    overflow: hidden;
    
    }
.canvas-container .canvas3{
    position: absolute;
    transform: scale(-1,1) translate(-99%);
    background-image: url("../img.png");
    background-repeat: no-repeat; 
    overflow: hidden;
    
}
.bakground-wrapper{
    position: absolute;

    width: 1280px;

    
}
.background { position: absolute; display: inline-block; margin: auto; width: var(--width); height: var(--height); border: var(--border_size) solid #9c6e3f; outline: var(--outline_size) solid #9c6e3f; outline-offset: var(--outline-offset); border-bottom-left-radius: var(--border-bottom-left-radius); border-top-left-radius: var(--border-top-left-radius); border-top-right-radius: var(--border-top-right-radius); border-bottom-right-radius: var(--border-bottom-right-radius); background: rgba(33, 26, 36, 0.9) none repeat scroll 0% 0% / cover; z-index: -5;}
.background .canvas0 { display: var(--display-top-right); position: absolute; top: var(--top_corner1); right: var(--right_corner1); height: 100px; }
.background .canvas1 { display: var(--display-top-left); position: absolute; top: var(--top_corner2); left: var(--left_corner2); height: 100px; }
.background .canvas2 { display: var(--display-bottom-left); position: absolute; top: var(--top_corner3); left: var(--left_corner3); height: 100px; transform: scale(1, -1); }
.background .canvas3 { display: var(--display-bottom-right); position: absolute; top: var(--top_corner4); right: var(--right_corner4); height: 100px; transform: scale(1, -1); }
